@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@import 'var.scss';

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header-site {
    height: 72px;
    // box-shadow: 0 0px 1px 1px #000;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    
    .header-logo {
        display: flex;
        align-items: center;
        
        h2 {
            margin-top: 0;
            margin-bottom: 0;
            display: inline-block;
            font-size: 1.25rem;
        }
        
        .logo {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: inline-block;
            background-color: $primaryColor;
        }
    }

    .header-menu {
        .header-menu-list {
            padding-left: 0;
            list-style: none;

            .list-menu-item + .list-menu-item {
                margin-left: .75rem;
            }
            .list-menu-item {


                display: inline-block;
                
                a {
                    color: $grayColor;
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
    }
}

.alert-message {
    position: fixed;
    z-index: 1000;
    align-items: center;
    top: 20px;
    left: 20px;
    display: flex;
    padding: 12px;
    gap: 0 12px;
    border-radius: 4px;
    transform: translateX(-500px);
    &.active {
        transition: transform .3s ease;
        transform: translateX(0);
    }
    &.error-alert {
        background: #f96179;
        & .message-icon {
            background: #fb889a;
        }
    }

    &.success-alert {
        background: #789dff;
        & .message-icon {
            background: #98b4ff;
        }
    }

    .message-icon {
        border-radius: 50%;
        padding: 0px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .message {
        color: #eee;
        p {
            font-size: 14px;
            margin: 0;
        }
    }
}