@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$grayColor: #8e94a2;
$primaryColor: #1d90f4;
$inputBG:#323645;

body {
    margin: 0;
	height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right, #000, #272c3a, rgba(40, 42, 57, .4)), url(/static/images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	color: #fff;
    font-family: 'Inter', sans-serif;
}

.header-site {
    height: 72px;
    box-shadow: 0 0px 1px 1px #000;
}