@import 'var.scss';

body {
    background-image: linear-gradient(to right, #282a37, #272c3a, rgba(40, 42, 57, .4)), url(/static/images/login-bg.jpg);
	color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    
	min-height: 100vh;
    overflow: hidden;
}

.login-container {
    width: 90vw;
    margin: auto;
    color: #fff;
    height: calc(100vh - 72px);
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
    display: inline-flex;

    .container-input {
        background-color: $inputBG;
        padding: .5rem 1rem;
        border-radius: 12px;
        border: 1px solid transparent;
        transition: border .2s ease-in-out;

        &:focus-within {
            outline: 1px solid $primaryColor;
            border: 1px solid $primaryColor;
        }
        
        &:focus-within label {
            color: $primaryColor;
        }

        label {
            margin: .25rem;
            font-size: .75rem;
            color: $grayColor;
        }

        input {
            width: 100%;
            background-color: transparent;
            border: none;
            font-size: 1.25rem;
            color: #fff;

            &::placeholder {
                color: #ccc;
            }

            &:focus {
                border: none;
                outline: none;
            }

            &:hover {
                border: none;
                outline: none;
            }

            &:internal-autofill-selected {
                background-color: transparent;
            }
        }
    }

    .user-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .buttons {
            display: inline-block;
            button {
                padding: .75rem 2rem;
                border-radius: 12px;
                border: none;
                background-color: $primaryColor;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .login-presentation {
        h2 {
            margin-top: 0;
            color: $grayColor;
            $fontSize: 1rem;
            font-size: $fontSize;
            line-height: $fontSize;
        }
        
        h1 {
            $fontSize: 2.25rem;
            font-size: $fontSize;
            line-height: $fontSize;
        }
        
        p {
            color: $grayColor;
            $fontSize: 1rem;
            font-size: $fontSize;
            line-height: $fontSize;

            a {
                color: $primaryColor;
                text-decoration: none;
            }
        }
    }


    .login-presentation p {
        margin: 0 auto;
    }
}
