{% extends 'layout/layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/book.css">
{% endblock %}

{% block scripts %}
<script src="/static/scripts/book.js" type="module"></script>
{% endblock %}

{% block content %}
<section class="container">
    <section>
        <div class="book-image">
            <img src="{{ book.picture }}" alt="{{ book.title }}">
        </div>
        <div class="books-description">
            <h2>{{ book.title }}</h2>
            <strong>{{ book.author }}</strong>
            <p>{{ book.isbn }}</p>
            <p>Score {{book.average_score}}</p>
            <p>Count {{book.review_count}}</p>
            <p>publicado em el año {{book.year}} </p>
            <a href="/books/{{ book.isbn }}">Más información</a>
        </div>
    </section>
    <section class="opinions">
        <form id="opinion-form">
            <select name="score">
                <option value="1">1</option>
                <option value="2" selected>2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            <input type="text" name="opinion" placeholder="Write a comment">
        </form>
    </section>
    <section class="list-opinion">
        <h2>Opiniones</h2>
        {% for opinion in opinions %}
        <div class="opinion">
            <p>{{ opinion.user_comment }}</p>
            <p>Score {{opinion.user_score}}</p>
            <p>{{ opinion.created_at.strftime('%d %b %Y') }}</p>
        </div>
        {% endfor %}
    </section>
</section>
{% endblock %}

