{% extends 'layout/layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/book.css">
{% endblock %}

{% block scripts %}
<script src="/static/scripts/book.js" type="module"></script>
{% endblock %}

{% block content %}
<section class="container">
    <section class="book_info">
        <div class="book-image">
            <img src="{{ book.picture }}" alt="{{ book.title }}">
        </div>
        <div class="books-description">
            <div class="book_head">
                <h2>{{ book.title }} <strong>{{ book.isbn }}</strong></h2>
                <p>{{ book.author }}</p>
            </div>
            <div class="stadistic">
                <p>Score {{book.average_score}}</p>
                <p>Opiniones {{book.review_count}}</p>
                <p>publicado en el año {{book.year}} </p>
                <div class="star_container" id="star-container">
                </div>
            </div>
        </div>
    </section>
    <section class="opinions">
        <form id="opinion-form">
            <select name="score">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
              </select>
            <input type="text" name="opinion" placeholder="Write a comment">
        </form>
    </section>
    <section class="list-opinion">
        <h2>Opiniones</h2>
        <div class="opinions">
            {% for opinion in opinions %}
            <div class="opinion">
                <div class="head-opinion">
                    <p>El usuario {{ opinion.user_name }} opina:</p>
                    <p>Score {{opinion.user_score}}</p>
                </div>
                <div class="content-opinion">
                    <p>{{ opinion.user_comment }}</p>
                    <!-- <p>{{ opinion.created_at.strftime('%d %b %Y') }}</p> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</section>
<script>
    window.star = {{book.average_score}}
</script>
{% endblock %}

