
{% extends 'layout/layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/login.css">
{% endblock %}

{% block content %}
<section class="login-container">
    <form class="form-login" id="register-form">
        <div class="login-presentation">
            <h2>Incia sesión y continua leyendo</h2>
            <h1>Login</h1>
            <p>No estas registrado?. <a href="/register">Register</a></p>
        </div>
        <div class="user-info">
            <div class="container-input">
                <label for="email">Mail</label>
                <input type="email" id="email" name="email" required placeholder="aguacate@gmail.com">
            </div>
            <div class="container-input">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password"  required autocomplete="new-password" placeholder="Pan con jamón">
            </div>
            <div class="buttons">
                <button>Inicia sesión</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/login.js" type="module"></script>
{% endblock %}
    
