
{% extends 'layout/layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/register.css">
{% endblock %}

{% block content %}
<section class="login-container">
    <form class="form-login" id="register-form">
        <div class="login-presentation">
            <h2>Descubre Multiples libros</h2>
            <h1>Create a new account</h1>
            <p>Already a login?. <a href="/login">Login</a></p>
        </div>
        <div class="user-info">
            <div class="personal-info">
                <div class="container-input">
                    <label for="username">Nombre</label>
                    <input type="text" id="username" name="username" required placeholder="John">
                </div>
                <div class="container-input">
                    <label for="lastname">Apellido</label>
                    <input type="text" id="lastname" name="lastname" required placeholder="Doe">
                </div>
            </div>
            <div class="container-input">
                <label for="email">Mail</label>
                <input type="email" id="email" name="email" required placeholder="aguacate@gmail.com">
            </div>
            <div class="container-input">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password"  required autocomplete="new-password" placeholder="Pan con jamón">
            </div>
            <div class="buttons">
                <button>Create Account</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/register.js" type="module"></script>
{% endblock %}
    
