@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right, #282a37, #272c3a, rgba(40, 42, 57, 0.4)), url(/static/images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.header-site {
  height: 72px;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header-site .header-logo {
  display: flex;
  align-items: center;
}
.header-site .header-logo h2 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  font-size: 1.25rem;
}
.header-site .header-logo .logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  background-color: #1d90f4;
}
.header-site .header-menu .header-menu-list {
  padding-left: 0;
  list-style: none;
}
.header-site .header-menu .header-menu-list .list-menu-item {
  display: inline-block;
}
.header-site .header-menu .header-menu-list .list-menu-item a {
  color: #8e94a2;
  text-decoration: none;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .login-container {
    width: 90vw;
    margin: auto;
    color: #fff;
    height: calc(100vh - 72px);
  }

  .login-presentation h2 {
    margin-top: 0;
    color: #8e94a2;
    font-size: 1rem;
    line-height: 1rem;
  }
  .login-presentation h1 {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
  .login-presentation p {
    color: #8e94a2;
    font-size: 1rem;
    line-height: 1rem;
  }
  .login-presentation p a {
    color: #1d90f4;
    text-decoration: none;
  }

  .login-presentation p {
    margin: 0 auto;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
    display: inline-flex;
  }
  .form-login .container-input {
    background-color: #323645;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out;
  }
  .form-login .container-input:focus-within {
    outline: 1px solid #1d90f4;
    border: 1px solid #1d90f4;
  }
  .form-login .container-input:focus-within label {
    color: #1d90f4;
  }
  .form-login .container-input label {
    margin: 0.25rem;
    font-size: 0.75rem;
    color: #8e94a2;
  }
  .form-login .container-input input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    color: #fff;
  }
  .form-login .container-input input::placeholder {
    color: #ccc;
  }
  .form-login .container-input input:focus {
    border: none;
    outline: none;
  }
  .form-login .container-input input:hover {
    border: none;
    outline: none;
  }
  .form-login .container-input input:internal-autofill-selected {
    background-color: transparent;
  }
  .form-login .user-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .form-login .user-info .buttons {
    display: inline-block;
  }
  .form-login .user-info .buttons button {
    padding: 0.75rem 2rem;
    border-radius: 12px;
    border: none;
    background-color: #1d90f4;
    font-weight: bold;
    cursor: pointer;
  }
}

/*# sourceMappingURL=login.css.map */
