<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    {% block styles %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web50</title>
</head>
<body>
    <header class="header-site">
        <h1>Header temporal</h1>
    </header>
    {% block content %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
</body>
</html>